// CovidTinyLineChart.scss
.CovidTinyLineChart {
    padding: 1rem;
    border-radius: 8px;
    
    // Responsive container for the chart
    .recharts-responsive-container {
      margin-top: 2rem;
      width: 100%; // Ensuring the chart container is fully responsive
      height: 100%; 
    }
  
    h3 {
      color: #ffffff;
      font-size: 1.2rem;
      text-align: center;
      margin-bottom: 1rem;
    }
  
    // Styles for the line chart
    .recharts-wrapper {
      margin: auto;
  
      .recharts-line {
        stroke-width: 3px; // Make the line thicker for visibility
      }
  
      .recharts-tooltip-wrapper {
        pointer-events: none; // Ensure tooltips don't block mouse events
      }
    }
  }
  
  