.CovidTinyLineChart {
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    
    .recharts-responsive-container {
      margin-top: 2rem;
    }
  
    h3 {
      color: #ffffff;
      font-size: 1.2rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    .recharts-responsive-container {
      width: 100%; 
      height: auto;
      margin-top: 2rem;
    }
  
    .recharts-wrapper {
      margin: auto;
  
      .recharts-line {
        stroke-width: 3px; 
      }
  
      .recharts-tooltip-wrapper {
        pointer-events: none;
      }
    }
    @media (max-width: 480px) {
      h3 {
        font-size: 1rem;
      }
    }
  }

  