@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  flex-wrap: wrap; 
  gap: 10px;

  span {
    &:first-child {
      font-weight: bold;
      flex: 1 100%;
    }

    &:last-child {
      font-size: 14px;
      text-align: right; 
      flex: 0 auto; 

      @include sm {
        font-size: 12px; 
        text-align: left; 
        flex: 1 100%; 
      }
    }
  }
}
