@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  flex-wrap: wrap; // Keep as is to allow wrapping on smaller screens
  gap: 10px; // Adds a little space between items when they wrap

  span {
    &:first-child {
      font-weight: bold;
      flex: 1 100%; // Takes full width on wrap
    }

    &:last-child {
      font-size: 14px;
      text-align: right; // Aligns text to the right when wrapped
      flex: 0 auto; // Do not grow but allow shrink

      @include sm {
        font-size: 12px; // Slightly smaller font size on small screens
        text-align: left; // Aligns to left on small screens if desired
        flex: 1 100%; // Takes full width on wrap
      }
    }
  }
}
